.date{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Montserrat, Arial, sans-serif;
  background: url(../../images/blood.png) repeat-y,
  url(../../images/blood-right.png) repeat-y 100% 0;
  background-size: contain;
  margin: 30px 0 0;
  padding: 150px 0 150px;
}

.date__title {
  margin: 0 0 115px;
}

.date__week-day {
  font-size: 85px;
  margin-bottom: 75px;
}

.date__container {
  display: flex;
}

.date__month {
  font-size: 85px;
  box-sizing: border-box;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  line-height: 184px;
  width: 381px;
  text-align: center;
}

.date__day {
  margin: 0 130px;
  justify-self: center;
  font-size: 160px;
  font-weight: 700;
}

.date__time {
  font-size: 85px;
  box-sizing: border-box;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  line-height: 184px;
  width: 381px;
  text-align: center;
}

/* 1300px */

@media screen and (max-width: 1300px) {
  .date {
    padding: 100px 0 100px;
  }

  .date__week-day {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .date__month {
    font-size: 50px;
    width: 240px;
    line-height: 115px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
  }

  .date__time {
    font-size: 50px;
    width: 240px;
    line-height: 115px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
  }

  .date__day {
    font-size: 100px;
    margin: 0 80px;
  }
}

/* 900px */

@media screen and (max-width: 900px) {
  .date {
    padding: 75px 0 75px;
  }

  .date__container {
    flex-direction: column;
    align-items: center;
  }

  .date__week-day {
    border-bottom: solid 2px white;
    font-size: 40px;
    margin-bottom: 40px;
    line-height: 86px;
  }

  .date__month {
    font-size: 40px;
    width: 185px;
    line-height: 50px;
    border: none;
  }

  .date__time {
    border: none;
    border-top: solid 2px white;
    margin-top: 40px;
    font-size: 40px;
    width: 185px;
    line-height: 86px;
  }

  .date__day {
    order: -1;
    font-size: 75px;
    margin: 0 50px;
  }
}

/* 500px */

@media screen and (max-width: 500px) {
  .date {
    padding: 30px 0;
  }

  .date__week-day {
    border-bottom: solid 1px white;
    line-height: 35px;
    font-size: 24px;
    margin-bottom: 20px;
    /* line-height: 86px; */
  }

  .date__day {
    font-size: 43px;
    line-height: 43px;
    margin: 0 0 7px;
  }

  .date__month {
    font-size: 24px;
    line-height: 24px;
    /* line-height: 50px; */
  }

  .date__time {
    font-size: 24px;
    margin-top: 20px;
    border-top: solid 1px white;
    width: 119px;
    line-height: 35px;
  }
}